extends layout
block title
    title Index

block css
    link(href="css/libs/swiper.css" rel="stylesheet")
    link(href="css/libs/sweetalert.css" rel="stylesheet")

block js
    script(type='text/javascript' src="js/libs/swiper.js")
    script(type='text/javascript' src="js/libs/masked-input.js")
    script(type='text/javascript' src="js/libs/sweetalert.min.js")

block main
    include 04_main/_main-index