doctype html
html(lang="en")
    head
        include 00_meta/_meta
        block title
        // Links
        include 01_css-links/_css-links
        // JS
        include 02_js-links/_js-links
    body
        .page
            block header
                include 03_header/_header

            block main

            block footer
                include 05_footer/_footer