/*
* @section      Components
* @Components	Form
*/

.form{
	height: auto;
	max-width: 430px;
	margin: 60px auto 0;
	padding: 40px 50px;
	border-radius: 10px;
	background-color: $white;
	box-shadow: 0 15px 25px 0 rgba(118, 34, 80, 0.2);

}

.form{
	&-group + &-group{
		margin-top: 24px;
	}
	* + .form__btn{
		margin-top: 45px;
	}
}

