//HEADER
header.page-header
    section.well__header
        .container
            // = Inform panel =
            .info-panel
                // = Inform panel brand =
                a.info-panel__brand.brand(href="#")
                    img(src="images/header-logo.png" alt="")

                // = Inform panel btn =
                .info-panel__btn-wrapp
                    .info-panel__btn-singin
                        a.btn.btn--type1(type="submit") Войти
                    .info-panel__btn-registration
                        a.btn.btn--type2(type="submit") Зарегистрироваться

                // = Inform panel contact =
                .info-panel__contact.contact
                    a.contact__number(href="tel:+74852333444") +7&nbsp;(485)&nbsp;233-34-44
                    a.contact__adress(href="mailto:info@redstaragency.ru") info@redstaragency.ru

    section.well__navigation

        .container
            -var navigation__list = ['Дилерам', 'Производство', 'Мастер-классы', 'Каталог продукции', 'Новости', 'О нас', 'Контакты']
            nav.nav-panel__nav
                a.nav-panel__trigger(id="hamburger" href="#")
                    span
                //-----Navigation-list
                ul.navigation(id="navigation")
                    -for(var i = 0; i < navigation__list.length; i++)
                        li.navigation__item
                            a.navigation__link.nav-list__link(href="#") !{navigation__list[i]}