@import "_core/variables";
@import "_core/mixins";
@import "_core/normalize";
/*
* @section      Grid module
* @description  This section use grid
*/
@import "_modules/grid";

@import url(//fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
/*
* @section      Fonts
* @description  This section  holds all icon fonts stored in template
*/
@font-face {
	font-family: 'GothamPro';
	src: url('../css/fonts/GothamPro-Light/GothamPro-Light.eot?') format('eot'),
		url('../css/fonts/GothamPro-Light/GothamPro-Light.otf')  format('opentype'),
		url('../css/fonts/GothamPro-Light/GothamPro-Light.woff') format('woff'),
		url('../css/fonts/GothamPro-Light/GothamPro-Light.ttf')  format('truetype'),
		url('../css/fonts/GothamPro-Light/GothamPro-Light.svg#GothamPro-Light') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'GothamPro';
	src: url('../css/fonts/GothamPro/GothamPro.eot?') format('eot'),
	url('../css/fonts/GothamPro/GothamPro.otf')  format('opentype'),
	url('../css/fonts/GothamPro/GothamPro.woff') format('woff'),
	url('../css/fonts/GothamPro/GothamPro.ttf')  format('truetype'),
	url('../css/fonts/GothamPro/GothamPro.svg#GothamPro') format('svg');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'GothamPro';
	src: url('../css/fonts/GothamPro-Medium/GothamPro-Medium.eot?') format('eot'),
	url('../css/fonts/GothamPro-Medium/GothamPro-Medium.otf')  format('opentype'),
	url('../css/fonts/GothamPro-Medium/GothamPro-Medium.woff') format('woff'),
	url('../css/fonts/GothamPro-Medium/GothamPro-Medium.ttf')  format('truetype'),
	url('../css/fonts/GothamPro-Medium/GothamPro-Medium.svg#GothamPro-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'GothamPro';
	src: url('../css/fonts/GothamPro-Bold/GothamPro-Bold.eot?') format('eot'),
	url('../css/fonts/GothamPro-Bold/GothamPro-Bold.otf')  format('opentype'),
	url('../css/fonts/GothamPro-Bold/GothamPro-Bold.woff') format('woff'),
	url('../css/fonts/GothamPro-Bold/GothamPro-Bold.ttf')  format('truetype'),
	url('../css/fonts/GothamPro-Bold/GothamPro-Bold.svg#GothamPro-Bold') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'GothamPro';
	src: url('../css/fonts/GothamPro-Black/GothamPro-Black.eot?') format('eot'),
	url('../css/fonts/GothamPro-Black/GothamPro-Black.otf')  format('opentype'),
	url('../css/fonts/GothamPro-Black/GothamPro-Black.woff') format('woff'),
	url('../css/fonts/GothamPro-Black/GothamPro-Black.ttf')  format('truetype'),
	url('../css/fonts/GothamPro-Black/GothamPro-Black.svg#GothamPro-Black') format('svg');
	font-weight: 900;
	font-style: normal;
}

/*========================================================
                      Main Styles
=========================================================*/
/*
* @section      Main Styles
* @description  This section holds template default elements style declarations
*/
.page {
	overflow: hidden;
	.lt-ie9 & {
		min-width: $screen-lg-min;
	}
}

html {
	font-size: 70px;

	@media (min-width: $screen-sm-min) and (max-width: $screen-md-min - 1) {
		font-size: 80px;
	}

	@media (min-width: $screen-md-min) and (max-width: $screen-lg-min - 1) {
		font-size: 90px;
	}

	@media (min-width: $screen-lg-min) {
		font-size: 100px;
	}
}

body {
	font-family: $default-font-family;
	font-weight: $default-font-weight;
	font-size: $default-font-size;
	line-height: $default-line-height;
	-webkit-text-size-adjust: none;
	color: $content-color;
	background: $content-bg;
}


/*========================================================
                      Typography
=========================================================*/
/*
* @subsection   Typography
* @description  Describes default font settings for basic html elements and
*               css classes
*/

h1, .heading--1 {
	font-size: 37px;
	line-height: 1;
	font-weight: 900;
	//$ sass-color-calculator 000000 1c3240 ==>
	color: lighten(saturate(adjust-hue($black, 203.3333), 39.1304), 18.0392); //1c3240
}

h2, .heading--2 {
	font-size: 37px;
	line-height: 1;
	font-weight: 900;
	//$ sass-color-calculator 000000 1c3240 ==>
	color: lighten(saturate(adjust-hue($black, 203.3333), 39.1304), 18.0392); //1c3240
}

h3, .heading--3 {
	font-size: 35px;
	line-height: 1;
	font-weight: 500;
	//$ sass-color-calculator 000000 1c3240 ==>
	color: lighten(saturate(adjust-hue($black, 203.3333), 39.1304), 18.0392); //1c3240
}

h2, .heading--2 {

}

p{
	a:hover {
		text-decoration: underline;
	}
}

a {
	cursor: pointer;
}

/*
* @section      Helpers
* @description  This section contain helpers style
*/
@import "_helpers/text-alignment";

/*=======================================================
                       Main Layout
=========================================================*/
/*
* @subsection   Backgrounds
* @description  Backgrounds custom styles
*/
.bg-white {
	background: $white;
}
.bg-lightBlue {
	background: #f5f7fa;
}

/*
* @subsection   Colors
* @description  Colors custom styles
*/
.clr-white {
	color: $white;
}

/*
* @subsection   Well
* @description  Describes section inner indents
*/
.well {
	&__header {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	&__footer {}

	&__navigation{
		padding-top: 20px;
		padding-bottom: 48px;
	}
}

.well__index {
	&--1 {
		padding-top: 0;
		padding-bottom: 0;
	}
	&--2 {
		padding-top: 90px;
		padding-bottom: 90px;
	}
	&--3 {
		padding-top: 80px;
		padding-bottom: 80px;
	}
	&--4 {
		padding-top: 58px;
		padding-bottom: 98px;
	}
}



/*=======================================================
                        Components
=========================================================*/
/*
* @section      Components
* @description  This section holds all elements style declarations of template
*/

/*
* @section      Components
* @Components	Main-logo
*/

.main-logo{
	margin-top: 63px;
	margin-bottom: 82px;
	&__icon{
		display: block;
		margin: auto;
	}
}

/*
* @subsection   Imports
*/
//header
//@import "_components/header/nav-panel";
//@import "_components/header/navigation";
//
////footer
//@import "_components/footer/redstar-agency";
//
////main --> article
//@import "_components/main/article/article";
//@import "_components/main/article/lead";
////main --> blog
//@import "_components/main/blog/blog-news";
////main --> objects
//@import "_components/main/objects/objects";
////main --> contacts
//@import "_components/main/contacts/contacts";
//@import "_components/main/contacts/contact-list";
//@import "_components/main/contacts/firm-info";
////main --> catalog
//@import "_components/main/catalog/catalog";
//@import "_components/main/catalog/catalog-radio";
//@import "_components/main/catalog/filter-radio";
//
////components
//@import "_components/blockquote";
//@import "_components/btn";
//@import "_components/tabs";
//@import "_components/box";


@import "_components/_nav-list.scss";
@import "_components/_slider.scss";
@import "_components/_btn.scss";
@import "_components/_whyRS.scss";
@import "_components/_advantages.scss";
@import "_components/_form.scss";
@import "_components/_form-components.scss";
@import "_components/_seoText.scss";
@import "_components/_catallog-card.scss";
@import "_components/_info-panel.scss";
@import "_components/_contact.scss";
@import "_components/_navigation.scss";



/* ========================================================
                     HEADER  Section
=========================================================*/
/*
* @section      Page Header
* @description  This section holds specific style redeclarations for some
*               of common elements in page header
*/

header, .page-header {
	position: relative;
}

/* ========================================================
					 MAIN  Section
=========================================================*/
/*
* @section      Page Content
* @description  This section holds specific style redeclarations for some
*               of common elements in page content
*/
main, .page-content {
	min-height: 100vh;
	background: $content-bg;
}

/* ========================================================
					 FOOTER  Section
=========================================================*/
/*
* @section      Page Footer
* @description  This section holds specific style redeclarations for some
*               of common elements in page footer
*/
footer, .page-footer {
	background: $footer-bg;
	color: $footer-color;
}


@media (max-width: 1199px) {

}

@media (max-width: 991px) {
	.whyRS__cnt{
		padding-right: 0;
	}
}

@media (max-width: 767px) {

}

@media (max-width: 678px) {
	h1, .heading--1,
	h2, .heading--2,
	h3, .heading--3{
		font-size: 2em;
	}

	.whyRS{
		align-items: center;
		flex-direction: column;
		justify-content: center;
		&__cnt{
			width: 100%;
			margin-top: 20px;
			text-align: center;
		}
	}

	.slider{
		&__inside-container{
			width: 100%;
			padding: 0 15px;
		}
		&__title{
			font-size: 2em;
		}
		&__text{
			font-size: .9em;
		}
	}

	.seoText{
		width: 100%;
	}
}

@media (max-width: 569px) {
	.advantages{
		flex-direction: column;
		width: 100%;
		margin: 30px 0;
		&__item{
			width: 100%;
			margin: 30px 0;
		}
	}


	.info-panel{
		&__btn-wrapp{
			flex-direction: column;
		}
		&__btn-singin,
		&__btn-registration{
			width: 100%;
		}

		&__btn-singin + &__btn-registration{
			margin-left: 0;
			margin-top: 20px;
		}
	}

	.btn{
		&--type1,
		&--type2,
		&--type3{
			font-size: 13px;
		}
	}

	.form{
		padding: 40px 30px;
	}
}



@media (max-width: 399px) {
}